body {
  margin: 0px;
  background-color: rgb(255, 118, 27)
}

canvas {
  background-color: rgb(189, 189, 189);
  background-image: url("https://i.redd.it/2r0ewy06kic81.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px;
}

img {
  display: none;
}
